html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    /*overflow-y: hidden;*/
}
body {
    padding-top: 70px;
}
#sidebar{
    width:200px;
    display: block;
    position: fixed;
}

.bg-inverse {
    background-color: #3831c4 !important;
}