

#project-section-heading{
	text-align: center;
	font-size: 30px;
	letter-spacing: 1.5px;
	font-weight: bold;
	background-color: #42e2f4;
}

#product-section-main-container1{
	padding:15px;
	padding-bottom: 0px;
	background-color: #4ad365;
}

.project-section-container
{
	margin-bottom: 15px;
}
.project-section-card{
	width:100%;
}

.project-section-card-block{
	padding: 5px;
	background-color: #0cb241;
}

.project-section-card-block:hover{
	/*padding: 5px;*/
	background-color: #fff;
}

#product-section-main-container2{
	padding:15px;
	padding-bottom: 0px;
	background-color: #f78f4f;
}

.project-section-container2
{
	margin-bottom: 15px;
}
.project-section-card2{
	width:100%;
}

.project-section-card-block2{
	padding: 5px;
	background-color: #edb795;
}

.project-section-card-block2:hover{
	/*padding: 5px;*/
	background-color: #fff;
}

#project-main1-container{

}

.project-info-card-container{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.project-info-card{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	  transition: box-shadow 0.3s ease-in-out;

}

.project-info-card:hover{
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	  transition: box-shadow 0.3s ease-in-out;

}

.project-modal{
	margin-left: 10%;
	margin-right: 10%;
	max-width:80%;
}

.project-image-container img{
	height: 300px;
	width:300px;
}